<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zqgame.anaylytics.mappers.IpAreaDictionaryDao">

	<!-- 查询 -->
	<select id="find" resultType="com.zqgame.zqad.models.IpAreaDictionary"> 
		<![CDATA[ 
			SELECT 
				`id`,`from`,`to`,`country`,`area` ,area_id
			FROM
   		 	 ip_area_dictionary 
   		    WHERE from_number <= #{from} AND  to_number >= #{from} 
   		    Limit 1		
   		 ]]>
	</select>
	
	<!-- 查询 本表一次拿全部，如出现内存溢出就分批取出 -->
	<select id="findAll" resultType="com.IP"> 
		<![CDATA[ 
			SELECT 
				`id`,from_number `f`,to_number `t`,area_id a_id 
			FROM
   		 	 ip_area_dictionary
   		 	 ORDER BY id ASC
   		 ]]>
   		 <if test=" start_num !=null and size !=null ">
   			 <![CDATA[
   		 		limit ${start_num},${size}
		 	]]>
		</if>
	</select>
	
	<!-- 查询总记录数 -->
	<select id="findCount" resultType="Integer">
		<![CDATA[ 
			SELECT count(1) FROM	 ip_area_dictionary 
		]]>
	</select>
</mapper>